body{
  font-family: "Klarna Sans";
  color: #990000;
}

h1{
  font-family: "Klarna Headline";
  font-size: 36px;
  line-height: 50px;
}

h4{
  font-family: "Klarna Headline";
  font-size: 23px;
  line-height: 25px;
}
