body{
  font-family: "Klarna Sans";
  color: #343434;
}

h1{
  font-family: "Klarna Headline";
  font-size: 36px;
  line-height: 50px;
  letter-spacing: -0.2;
}

h2{
  font-family: "Klarna Headline";
  font-size: 23px;
  line-height: 25px;
  letter-spacing: -0.2;
}

h3{
  font-family: "Klarna Headline";
  font-size: 19px;
  line-height: 25px;
  letter-spacing: -0.2;
  margin-bottom: -20px;
}

h4{
  font-family: "Klarna Sans";
  font-size: 14px;
  letter-spacing: 1;
  text-transform: uppercase;
  line-height: 20px;
}

p{
  font-family: "Klarna Sans";
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0;
  color: #787878;
}

table{
  font-family: "Klarna Sans";
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0;
  color: #343434;

  border: 1px solid #e9e9e8;
  margin: 30px 0px;
}

th, td {
  vertical-align: middle;
}

th{
  height: 40px;
  font-weight: 800;
}

tr:nth-child(even){
  background-color: #f2f2f1;
}
